doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Business Monitoring | KPSmart
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    body
        #nav
            .sidenav
                #nav-logo
                    a(href='welcome.html', title='KPSmart Home')
                        img(src='images/logo.png', height='75')
                .nav-contain
                    ul#nav-events
                        li
                            a(href='welcome.html')
                                strong Welcome
                        li#drop(onclick='toggle_visibility()')
                            a(href='#')
                                strong Business Events
                                span.arrow
                            ul#be
                                li
                                    a(href='mailDelivery') Mail Delivery
                                li
                                    a(href='priceUpdate') Customer Price Update
                                li
                                    a(href='transportUpdate') Transport Cost Update
                                li
                                    a(href='routeManagement') Route Management
                        script(type='text/javascript').
                            function toggle_visibility() {
                                var e = document.getElementById('be')
                                var arr = document.getElementsByClassName('arrow');
                                if(e.style.display == 'block') {
                                    e.style.display = 'none';
                                }
                                else {
                                    e.style.display = 'block';
                                }
                            }
                        li#currenttab
                            a(href='#')
                                strong Business Monitoring
                        li#dec-sup-tab
                            a(href='#')
                                strong Decision Support
                #identifier
                    | Logged in as !{signedInUser}
                    if manager
                        img#m-image(src='images/manager.png')
                    else
                        img#m-image(src='images/clerk.png')
                    br
                    span#m-status
                        i !{signedInUser}
        #body
            #page-title
                | Business Monitoring
            #content(style='width: 80%')
                p
                    | From this page you can monitor the Revenue, Expenditure, and Average Delivery Times for each route on the Kelburn
                    | Post Network.
                h1 Revenue & Expenditure
                h2 Overview
                canvas#rev(width='600px')
                h2 Metrics
                table.metrics
                    tr
                        td
                            strong Route
                        td
                            strong Origin
                        td
                            strong Destination
                        td
                            strong Type
                        td
                            strong Total Revenue ($)
                        td
                            strong Total Expenditure ($)
                    each route in routes
                        tr
                            td Route !{route.routeid}
                            td !{route.origin}
                            td !{route.destination}
                            td !{route.deliverytype}
                            td !{route.total_revenue}
                            td !{route.total_expenditure}
                        tr
                h1 Average Delivery Times
                h2 Overview
                canvas#times
                h2 Metrics
                table.metrics
                    tr
                        td
                            strong Route Name
                        td
                            strong Origin
                        td
                            strong Destination
                        td
                            strong Type
                        td
                            strong Average Delivery Time (days)
                    tr
                        td Route 1
                        td Auckland
                        td Wellington
                        td Air
                        td 3
                    tr
                        td Route 1
                        td Auckland
                        td Wellington
                        td Air
                        td 4
                    tr
                        td Route 1
                        td Auckland
                        td Wellington
                        td Air
                        td 3
                    tr
                        td Route 1
                        td Auckland
                        td Wellington
                        td Air
                        td 4
                script.
                    /*var routeLabels = [];
                    var revenue = [];
                    var expenditure = [];
                    var i = 0;
                    for(route in routes){
                        labels[i] = "Route" + routes[i].routeid;
                        console.log("Route" + routes[i].routeid);
                        revenue[i] = route.total_revenue;
                        console.log("Revenue: " + revenue[i]);
                        expenditure[i] = route.total_expenditure;
                        console.log("Expenditure: " + expenditure[i]);
                    }*/

                    var graph = document.getElementById("rev");
                    var ggraph = document.getElementById("times");
                    var timeChart = new Chart(graph, {
                        type: 'bar',
                        data: {
                            labels: ["Route 1", "Route 2", "Route 3", "Route 4", "Route 5", "Route 6", "Route 7", "Route 8", "Route 9",
                        "Route 10", "Route 11", "Route 12", "Route 13", "Route 14", "Route 15", "Route 16", "Route 17", "Route 18", "Route 19",
                        "Route 20", "Route 21", "Route 22", "Route 23", "Route 24", "Route 25", "Route 26",],
                            datasets: [
                                {
                                    label: "Revenue",
                                    fill: false,
                                    backgroundColor: "rgba(0,147,201,1)",
                                    borderColor: "rgba(0,147,201,1)",
                                    borderCapStyle: 'butt',
                                    borderDash: [],
                                    borderDashOffset: 0.0,
                                    borderJoinStyle: 'miter',
                                    pointBorderColor: "rgba(0,147,201,1)",
                                    pointBackgroundColor: "#fff",
                                    pointBorderWidth: 1,
                                    pointHoverRadius: 5,
                                    pointHoverBackgroundColor: "rgba(0,147,201,1)",
                                    pointHoverBorderColor: "rgba(255,255,255,1)",
                                    pointHoverBorderWidth: 2,
                                    pointRadius: 3,
                                    pointHitDetectionRadius: 10,
                                    data: [100, 200, 65, 33, 187, 32, 12, 43, 65, 98, 106, 186, 153,
                                        153, 186, 106, 98, 65, 43, 12, 32, 187, 33, 65, 200, 100],
                                },
                                {
                                    label: "Expenditure",
                                    fill: false,
                                    backgroundColor: "rgba(0,76,107,1)",
                                    borderColor: "rgba(0,147,201,1)",
                                    borderCapStyle: 'butt',
                                    borderDash: [],
                                    borderDashOffset: 0.0,
                                    borderJoinStyle: 'miter',
                                    pointBorderColor: "rgba(0,147,201,1)",
                                    pointBackgroundColor: "#fff",
                                    pointBorderWidth: 1,
                                    pointHoverRadius: 5,
                                    pointHoverBackgroundColor: "rgba(0,147,201,1)",
                                    pointHoverBorderColor: "rgba(255,255,255,1)",
                                    pointHoverBorderWidth: 2,
                                    pointRadius: 3,
                                    pointHitDetectionRadius: 10,
                                    data: [80, 180, 45, 13, 167, 12, 02, 33, 55, 78, 86, 166, 133,
                                        153, 166, 86, 78, 45, 23, 02, 52, 177, 33, 55, 90, 80],
                                }]
                        }
                    });
                    var timeChart = new Chart(ggraph, {
                        type: 'bar',
                        data: {
                            labels: ["Route 1", "Route 2", "Route 3", "Route 4", "Route 5", "Route 6", "Route 7", "Route 8", "Route 9",
                                "Route 10", "Route 11", "Route 12", "Route 13", "Route 14", "Route 15", "Route 16", "Route 17", "Route 18", "Route 19",
                                "Route 20", "Route 21", "Route 22", "Route 23", "Route 24", "Route 25", "Route 26",],
                            datasets: [
                                {
                                    label: "Average Days Taken",
                                    fill: false,
                                    backgroundColor: "rgba(0,147,201,1)",
                                    borderColor: "rgba(0,147,201,1)",
                                    borderCapStyle: 'butt',
                                    borderDash: [],
                                    borderDashOffset: 0.0,
                                    borderJoinStyle: 'miter',
                                    pointBorderColor: "rgba(0,147,201,1)",
                                    pointBackgroundColor: "#fff",
                                    pointBorderWidth: 1,
                                    pointHoverRadius: 5,
                                    pointHoverBackgroundColor: "rgba(0,147,201,1)",
                                    pointHoverBorderColor: "rgba(255,255,255,1)",
                                    pointHoverBorderWidth: 2,
                                    pointRadius: 3,
                                    pointHitDetectionRadius: 10,
                                    data: [5, 5, 4, 3, 5, 3, 4, 4, 5, 7, 4, 3, 7,
                                        5, 6, 4, 3, 3, 6, 6, 3, 4, 5, 4, 3, 7],
                                }]
                        }
                    });
