doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Mail Delivery | KPSmart
        link(rel='stylesheet', href='../stylesheets/style.css')
    body
        #nav
            .sidenav
                #nav-logo
                    a(href='welcome', title='KPSmart Home')
                        img(src='../images/logo.png', height='75')
                .nav-contain
                    ul#nav-events
                        li
                            a(href='welcome')
                                strong Welcome
                        li#drop(onclick="toggle_visibility()")
                            a(href='#')
                                strong Business Events
                                span.arrow
                            ul#be
                                li#currenttab
                                    a(href='../mailDelivery') Mail Delivery
                                li
                                    a(href='../priceUpdate') Customer Price Update
                                li
                                    a(href='../transportCostUpdate') Transport Cost Update
                                li
                                    a(href='../routeManagement') Route Management
                        script(type='text/javascript').
                            function toggle_visibility() {
                                var e = document.getElementById('be')
                                var arr = document.getElementsByClassName('arrow');
                                if (e.style.display == 'block') {
                                    e.style.display = 'none';
                                }
                                else {
                                    e.style.display = 'block';
                                }
                            }
                        li
                            a(href='../businessMonitoring')
                                strong Business Monitoring
                        if manager
                            li
                                a(href='../decisionSupport')
                                    strong Decision Support
                #identifier
                    | Logged in as !{signedInUser}
                    if manager
                        img#m-image(src='../images/manager.png')
                        br
                        span#m-status
                            i Manager
                        br
                    else
                        img#m-image(src='../images/clerk.png')
                        br
                        span#m-status
                            i Clerk
                        br
                    a#logout(href='logout') Log out
        #body
            #page-title
                | Mail Delivery Receipt
            #content
                br
                p(style="color:#008000") #{message}
                p ID: !{_id}
                p Origin: !{origin}
                p Destination: !{dest}
                p Weight: !{weight}
                p Volume: !{volume}
                p Freight-type: !{freight}
                p Freight-company: !{company}
                p Send-date: !{send_date}
                p Arrive-date: !{arrive_date}
                p Route ID: !{routeid}
                p Total Cost: $!{cost}
                br





